<div class="container my-5">
  <div class="row my-4">
    <div class="col d-flex justify-content-right">
      <a [routerLink]="['/pic/new']" class="btn btn-primary">New File</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">File Manager</h5>
        </div>
        <table class="table striped">
          <thead>
            <tr>
              <th>File</th>
              <th>Created</th>
              <th>Updated</th>
              <th>Owner</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngIf="pics?.results">
            <tr *ngFor="let f of pics.results">
              <td>
                <img src="{{ f.src }}" height="100px" />
              </td>
              <td>{{ f.created | date : "short" }}</td>
              <td>{{ f.updated | date : "short" }}</td>
              <td>{{ f.owner }}</td>
              <td>
                <a
                  [routerLink]="['/pic/detail/' + f.id]"
                  class="btn btn-primary"
                >
                  edit
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
